* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Overpass Nerd Font;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button {
    min-width: 0;
    padding: 0 10px;
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

#workspaces button.focused {
    background: rgba(255,255,255,0.1);
    border-bottom: 1px solid white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

.modules-right * {
    padding: 0 8px;
    margin: 0 2px;
}

#tray {
    padding: 0;
}

@keyframes blink {
    to {
        background-color: #e00000;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
